$block: '.btn';

#{$block}{
  &#{$block}{
    &_action{
      padding: 8px 22px;
      border: none;
      border-radius: 6px;
      font-size: 16px;
      font-weight: 400;
      background: #ff6967;
      color: $white;
    }
    &_close{
      position: absolute;
      background: transparent;
      padding: 0;
        top: 3px;
    right: 10px;
    font-size: 24px;
    font-weight: 600;
    transform: rotate(45deg);
      color: #c8c8c8;
    }
  }
}