$block: '.sidebar';

#{$block}{
  position: relative;
   @media(max-width: 767px) {
     display: none;
    }
  &__header{
    display: flex;
    position: relative;
  }
  &__title{
    font-size: 18px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    padding-right: 16px;
  }
  &__image{
    position: absolute;
    right: 0;
    top: -22px;
    width: 36px;
  }
}
