@media (min-width: 768px) and (max-width: 991px) {
.book-component.layout .container {
  width: 100%;
}
}

.book-component.layout .book-header {
background: #1293f6;
color: #fff;
padding: 12px 0;
}
@media (min-width: 992px) {
.book-component.layout .book-header {
  background: #00a7f7;
}
}

.book-component.layout .book-header .book-author {
margin-left: 5px;
}

.book-component.layout .book-header .book-author h3 {
margin-left: 0;
}

.book-component.layout .book-header .book-title {
display: block;
font-family: "SourceSansPro-Bold", "Source Sans Pro", verdana-bold, helvetica-bold, arial, sans-serif;
font-size: 1.8rem;
font-weight: bold;
line-height: 1;
letter-spacing: 0.03em;
}
@media (min-width: 992px) {
.book-component.layout .book-header .book-title {
  display: inline;
  font-size: 2.5em;
  letter-spacing: 0;
}
}

.book-component.layout .book-header .small a {
color: #fff;
}

.book-component.layout .book-header .small a .fa-stack-2x {
color: #1293f6;
}

.book-component.layout .book-header .small .menu {
font-size: 25px;
position: absolute;
right: 5px;
bottom: -15px;
}

.book-component.layout .book-header .upgrade-container {
text-align: right;
}

.book-component.layout .book-header .upgrade-container .devise.layout .lc-form .upgrade.form-button,
.book-component.layout .book-header .upgrade-container .upgrade.btn,
.devise.layout .lc-form .book-component.layout .book-header .upgrade-container .upgrade.form-button {
font-family: "SourceSansPro-Bold", "Source Sans Pro", verdana-bold, helvetica-bold, arial, sans-serif;
font-weight: bold;
line-height: 1;
padding: 10px 20px;
}

.book-component.layout .book-header .upgrade-container .signed-in {
color: #fff;
font-family: "SourceSansPro-Bold", "Source Sans Pro", verdana-bold, helvetica-bold, arial, sans-serif;
font-weight: bold;
white-space: nowrap;
}

.book-component.layout .mobile-header-promo {
border-bottom: 1px solid rgba(0,167,247,0.25);
color: #ff6967;
font-size: 0.9em;
font-weight: bold;
}

.book-component.layout .mobile-header-promo a {
color: #ff6967;
}

.book-component.layout .mobile-header-promo table {
margin: 0 auto;
}

.book-component.layout .mobile-header-promo table td {
padding: 5px 0;
}

.book-component.layout .mobile-header-promo .icon {
height: 28px;
margin-right: 5px;
}

.book-component.layout .mobile-header-promo.audio-promo {
background: #cee8ff;
}

.book-component.layout .mobile-header-promo.pdf-promo {
background: #e7f4ff;
}

.book-component.layout .mobile-header-promo .headphones {
margin-right: 5px;
width: 25px;
}

.book-component.layout .book-nav {
margin-bottom: 20px;
}

.book-component.layout .book-nav.box-shadow {
-webkit-box-shadow: 0 2px 6px 0 #aaaaaa;
-moz-box-shadow: 0 2px 6px 0 #aaaaaa;
box-shadow: 0 2px 6px 0 #aaaaaa;
}

.book-component.layout .book-nav.fixed {
background: #fff;
left: 0;
position: fixed;
top: 0;
width: 100%;
z-index: 99;
}

.book-component.layout .book-nav .components {
display: table;
width: 100%;
}

.book-component.layout .book-nav .components .component {
border-left: 1px solid #eee;
cursor: pointer;
display: table-cell;
line-height: 1.1;
padding: 6px 0;
text-align: center;
-moz-transition: background 0.25s;
-o-transition: background 0.25s;
-webkit-transition: background 0.25s;
transition: background 0.25s;
vertical-align: middle;
width: 12.5%;
}

.book-component.layout .book-nav .components .component:first-of-type {
border-left: none;
}

.book-component.layout .book-nav .components .component.dropdown.open,
.book-component.layout .book-nav .components .component:hover {
background: #e7f4ff;
}

.book-component.layout .book-nav .components .component > a {
color: #747474;
font-size: 0.9em;
font-weight: bold;
padding: 2px;
}

.book-component.layout .book-nav .components .component > a:focus,
.book-component.layout .book-nav .components .component > a:hover,
.book-component.layout .book-nav .components .component > a:visited {
text-decoration: none;
}

.book-component.layout .book-nav .components .component.current {
background: #00a7f7;
border-left: none;
}

.book-component.layout .book-nav .components .component.current+.component {
border-left: none;
}

.book-component.layout .book-nav .components .component.current > a {
color: #fff;
}

.book-component.layout .book-nav .components .component.current.dropdown.open > a {
color: #747474;
}

.book-component.layout .book-nav .components .component .dropdown-menu {
background: #e7f4ff;
border-top-left-radius: 0;
border-top-right-radius: 0;
border-top: none;
left: -1px;
margin-top: 0;
max-height: 300px;
overflow-y: auto;
}

.book-component.layout .book-nav .components .component .dropdown-menu li > a:focus,
.book-component.layout .book-nav .components .component .dropdown-menu li > a:hover {
background: #c3e4ff;
}

.book-component.layout .book-nav .components .component .dropdown-menu li {
border-bottom: 1px solid #ccc;
}

.book-component.layout .book-nav .components .component .dropdown-menu li:last-of-type {
border-bottom: none;
}

.book-component.layout .book-nav .components .component .dropdown-menu li > a {
color: #747474;
font-size: 0.9em;
font-weight: bold;
padding-bottom: 8px;
padding-top: 8px;
-moz-transition: background 0.25s;
-o-transition: background 0.25s;
-webkit-transition: background 0.25s;
transition: background 0.25s;
}

.book-component.layout .book-nav .components .component .dropdown-menu.simbols .simbol-icon,
.book-component.layout .book-nav .components .component .dropdown-menu.simbols .theme-icon,
.book-component.layout .book-nav .components .component .dropdown-menu.themes .simbol-icon,
.book-component.layout .book-nav .components .component .dropdown-menu.themes .theme-icon {
margin-right: 5px;
}

.book-component.layout .book-nav .components.terms-and-characters .component {
width: 11.1111%;
}

.book-component.layout .component-content > .header {
margin-bottom: 20px;
margin-top: 20px;
}

.book-component.layout .component-content > .header > .container > .header-table {
width: 100%;
}

.book-component.layout .component-content > .header > .container > .header-table .next-col,
.book-component.layout .component-content > .header > .container > .header-table .prev-col {
width: 16.6666667%;
}

.book-component.layout .component-content > .header > .container > .header-table .title-col {
line-height: 1.3;
padding-left: 15px;
padding-right: 15px;
}
@media (max-width: 767px) {
.book-component.layout .component-content > .header > .container > .header-table .title-col {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
}
@media (min-width: 992px) {
.book-component.layout .component-content > .header > .container > .header-table .title-col {
  line-height: 1.1;
}
}
@media (min-width: 768px) {
.book-component.layout .component-content > .header {
  margin: 40px 0;
}
}

.book-component.layout .component-content > .header .component-title {
display: block;
font-size: 1.1em;
font-weight: bold;
text-align: center;
}
@media (min-width: 768px) {
.book-component.layout .component-content > .header .component-title {
  font-size: 1.8em;
}
}
@media (min-width: 992px) {
.book-component.layout .component-content > .header .component-title {
  font-size: 2em;
}
}

.book-component.layout .component-content > .header .component-subtitle {
display: block;
font-size: 0.875em;
font-style: italic;
font-weight: normal;
text-align: center;
}
@media (min-width: 992px) {
.book-component.layout .component-content > .header .component-subtitle {
  font-size: 1.25em;
}
}

.book-component.layout .component-content > .header .associated-translation-subtitle {
background-color: #ffe4b2;
border-radius: 5px;
display: inline-block;
line-height: 1.3;
margin: 10px 0 0;
padding: 8px;
text-align: center;
}
@media (max-width: 767px) {
.book-component.layout .component-content > .header .associated-translation-subtitle {
  line-height: 1.2;
}
}

.book-component.layout .prev-next-links {
display: table;
line-height: 1.1;
}

.book-component.layout .prev-next-links:focus,
.book-component.layout .prev-next-links:hover,
.book-component.layout .prev-next-links:visited {
text-decoration: none;
}

.book-component.layout .prev-next-links.next .text {
padding-right: 10px;
}

.book-component.layout .prev-next-links.prev .text {
padding-left: 10px;
}

.book-component.layout .prev-next-links .arrow {
display: table-cell;
font-size: 3em;
vertical-align: top;
}

.book-component.layout .prev-next-links .mobile-arrow {
font-size: 1.25em;
}

.book-component.layout .prev-next-links .mobile-arrow .fa-stack-1x {
font-weight: bold;
}

.book-component.layout .prev-next-links .mobile-arrow .fa-stack-2x {
color: #f9f9f9;
}

.book-component.layout .prev-next-links .text {
display: table-cell;
vertical-align: middle;
}

.book-component.layout .prev-next-links .text .tag {
font-size: 1.2em;
font-weight: bold;
}
@media (min-width: 768px) and (max-width: 991px) {
.book-component.layout .prev-next-links .text .tag {
  font-size: 1em;
}
}

.book-component.layout .component-content .content .view .header-banner {
background: #f9f9f9;
margin-bottom: 20px;
padding: 5px;
}
@media (min-width: 992px) {
.book-component.layout .component-content .content .view .header-banner {
  background: none;
  border-bottom: 1px solid #00a7f7;
  border-top: 1px solid #00a7f7;
  margin-bottom: 40px;
  padding: 15px 0;
}
}

.book-component.layout .component-content .content .view .header-banner .header {
font-weight: bold;
}
@media (min-width: 992px) {
.book-component.layout .component-content .content .view .header-banner .header {
  font-size: 1.25em;
}
}

.book-component.layout .component-content .content .view .header-banner .header .text {
margin-right: 4px;
}

.book-component.layout .component-content .content .view .header-banner .subheader {
font-size: 0.875em;
padding-top: 5px;
}
@media (min-width: 992px) {
.book-component.layout .component-content .content .view .header-banner .subheader {
  font-size: 0.9em;
  padding-top: 10px;
}
}

.book-component.layout .component-content .content .view .header-banner.drop-down {
padding: 0;
position: relative;
}

.book-component.layout .component-content .content .view .header-banner.drop-down .header {
cursor: pointer;
padding: 4px 0 4px 40px;
}
@media (min-width: 992px) {
.book-component.layout .component-content .content .view .header-banner.drop-down .header {
  padding-bottom: 16px;
  padding-top: 16px;
}
}

.book-component.layout .component-content .content .view .header-banner.drop-down .header .text {
margin-right: 6px;
}

.book-component.layout .component-content .content .view .header-banner.drop-down .subheader {
display: none;
}

.book-component.layout .component-content .content .view .header-banner.drop-down .toggle {
color: #00a7f7;
font-size: 1.75em;
left: 10px;
position: absolute;
top: 0;
}
@media (min-width: 992px) {
.book-component.layout .component-content .content .view .header-banner.drop-down .toggle {
  top: 14px;
}
}

.book-component.layout .component-content .content .view .header-banner.drop-down .content {
display: none;
padding: 5px;
}
@media (min-width: 992px) {
.book-component.layout .component-content .content .view .header-banner.drop-down .content {
  padding-bottom: 12px;
}
}

.book-component.layout .component-content .content .view .header-banner.drop-down .content .explanation {
font-size: 0.875em;
margin-left: 40px;
}
@media (min-width: 992px) {
.book-component.layout .component-content .content .view .header-banner.drop-down .content .explanation {
  font-size: 2.08rem;
}

.book-component.layout .component-content .content .view .header-banner.drop-down .content .explanation.small {
  font-size: 0.9em;
}
}

.book-component.layout .component-content .content .view .index-list .index-list-item {
border-bottom: 1px solid #ccc;
margin-bottom: 40px;
padding-bottom: 40px;
}

.book-component.layout .component-content .content .view .index-list .index-list-item.null-bottom {
border-bottom: none;
margin-bottom: 0;
padding-bottom: 0;
}

.book-component.layout .component-content .content .view .index-list .index-list-item .index-list-item-title {
font-size: 1.8rem;
font-weight: bold;
margin-bottom: 10px;
}
@media (min-width: 992px) {
.book-component.layout .component-content .content .view .index-list .index-list-item .index-list-item-title {
  font-size: 1.5em;
}
}

.book-component.layout .component-content .content .view .section {
margin-bottom: 40px;
}

.book-component.layout .component-content .content .view .section > .title {
font-size: 1.125em;
font-weight: bold;
margin-bottom: 20px;
}
@media (min-width: 992px) {
.book-component.layout .component-content .content .view .section > .title {
  font-size: 1.5em;
}
}

.book-component.layout .component-content .content .view .section > .explanation {
font-size: 1.8rem;
line-height: 1.6;
margin-bottom: 20px;
}
@media (min-width: 992px) {
.book-component.layout .component-content .content .view .section > .explanation {
  font-size: 2.08rem;
  line-height: 1.5;
  margin-bottom: 40px;
}
}

.book-component.layout .component-content .content .cite-this-page-container {
text-align: center;
}
@media (min-width: 768px) {
.book-component.layout .component-content .content .cite-this-page-container {
  text-align: right;
}
}

.book-component.layout .component-content .content .cite-this-page.btn,
.book-component.layout .component-content .content .devise.layout .lc-form .cite-this-page.form-button,
.devise.layout .lc-form .book-component.layout .component-content .content .cite-this-page.form-button {
font-family: "SourceSansPro-Bold", "Source Sans Pro", verdana-bold, helvetica-bold, arial, sans-serif;
font-weight: bold;
margin-top: 40px;
padding-left: 50px;
padding-right: 50px;
}

.book-component.layout #inline-popup-modal .modal-body p {
display: inline;
}

.book-component.layout #cite-this-page.modal .header {
margin-bottom: 10px;
}
@media (min-width: 992px) {
.book-component.layout #cite-this-page.modal .header {
  font-size: 1.5em;
}
}

.book-component.layout #cite-this-page.modal .citation {
display: none;
}

.book-component.layout #cite-this-page.modal .citation .title {
display: none;
}
@media (min-width: 992px) {
.book-component.layout #cite-this-page.modal .citation .title {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}
}

.book-component.layout #cite-this-page.modal .citation .form-control {
height: 160px;
}
@media (min-width: 768px) {
.book-component.layout #cite-this-page.modal .citation .form-control {
  height: 80px;
}
}

.book-component.layout #cite-this-page.modal .citation .well {
word-wrap: break-word;
}

.book-component.layout #cite-this-page.modal .citation textarea {
display: none;
}

.book-component.layout .right-sidebar {
background: #e7f4ff;
border-top: 6px solid #00a7f7;
-webkit-border-radius: 4px;
border-radius: 4px;
background-clip: padding-box;
-webkit-border-bottom-right-radius: 0;
border-bottom-right-radius: 0;
-webkit-border-bottom-left-radius: 0;
border-bottom-left-radius: 0;
background-clip: padding-box;
color: #747474;
text-align: center;
}

.book-component.layout .right-sidebar .grouping {
border-top: 1px solid #00a7f7;
padding-top: 10px;
padding-bottom: 20px;
}

.book-component.layout .right-sidebar .grouping .header {
color: #ff6967;
font-size: 1.5em;
font-weight: bold;
line-height: 1.2;
padding: 0 15px;
}
@media (min-width: 768px) and (max-width: 991px) {
.book-component.layout .right-sidebar .grouping .header {
  font-size: 1.125em;
}
}

.book-component.layout .right-sidebar .grouping .pdf-fan {
margin-bottom: 0;
margin-left: -5%;
margin-top: 15px;
width: 110%;
}

.book-component.layout .right-sidebar .grouping .quote {
font-size: 0.9em;
margin-bottom: 30px;
margin-top: 15px;
padding: 0 15px;
}

.book-component.layout .right-sidebar .grouping .btn,
.book-component.layout .right-sidebar .grouping .devise.layout .lc-form .form-button,
.devise.layout .lc-form .book-component.layout .right-sidebar .grouping .form-button {
width: 60%;
}

.book-component.layout .right-sidebar .grouping.teacher-edition .header {
margin-top: 5px;
}

.book-component.layout .right-sidebar .grouping.teacher-edition .pdf-fan {
margin-bottom: 10px;
}

.book-component.layout .right-sidebar .grouping.audiobook .header {
margin-top: 5px;
}

.book-component.layout .right-sidebar .grouping.audiobook .headphones-image {
margin-top: 10px;
}

.book-component.layout .right-sidebar .feedback-request-links {
background: #ffffff;
padding-top: 20px;
}

.book-component.layout .right-sidebar .feedback-request-links p {
font-size: 1.4rem;
}

.devise.layout.not-signed-in h1 {
font-family: "SourceSansPro", "Source Sans Pro", verdana, arial, helvetica, sans-serif;
font-size: 1.5em;
font-weight: bold;
margin-bottom: 10px;
}
